* {
	font-family: Helvetica;
}

#banner {
	background-image: url("./images/pattern.webp");
	font-size: 100px;
	font-weight: bold;
	color: khaki;
	text-align: center;
}

#brushes {
	background-color: mediumspringgreen;
}

#frames {
	background-color: lightcoral;
}

#paint {
	background-color: skyblue;
}

.object-text {
	font-size: 32px;
	font-weight: bold;
	color: white;
}

.price {
	color: blue;
}
